.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-wrapper {
    color: black;
    text-decoration: none;
    .product-title {
        color: black;
        text-decoration: none;
    }
}