.products {
    @media only screen and (min-width: 640px) {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;}
}

.product-wrapper {
    color: black;
    text-decoration: none;
    
    .product-title {
        color: black;
        text-decoration: none;
    }
}
.products-wrapper {
    @media only screen and (min-width: 640px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}